  @import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Dancing+Script:wght@400..700&family=Playwrite+IN:wght@100..400&display=swap');


  .custom-navbar {
    background: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(4px);     
    z-index: 9999;
    transition: background 0.3s ease;
  }
  .navbar-toggler-icon {
    filter: invert(1); 
  }
 
   
 

  

  
  
  .navbar-brand {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    background-image: linear-gradient(to right, red,  white );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    animation: zoomInLogo 0.8s ease-out forwards;
  }
  @keyframes zoomInLogo {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }




  .dropdown-item {
  color: white !important;
  background-color: black!important;
} 
 .dropdown-item:hover {
  background-color: white!important;
  color: black !important;
}  


  #exampleModalLabel {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    background-image: linear-gradient(to right, red,  black );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    animation: zoomInLogo 0.8s ease-out forwards;
  }
  @keyframes zoomInLogo {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }



    .caro {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .carousel-inner {
    position: relative;
    width: 100%;
    
  }
  .carousel-item {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
  }
  .caro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
  }
  .carousel-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 90%;
    max-width: 800px;
    z-index: 10;
  }
  .carousel-overlay h1 {
    font-size: 3rem;
  }

  .carousel-overlay p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .nav-item12{
    margin-left: 5em;
    display: flex;
    gap: 0.5em;

  }
  .greet-user{
    font-size: 15px;
    color: white;
    font-family: Bitcount Grid Double;
    padding-top: 1em;
  
    
  }


  .nav-item1 img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* object-fit: cover; */
    border: 2px dotted white;
    
    
  }


  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    
    width: 450px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .form button {
    align-self: flex-end;
  }

  .flex-column > label {
    color: #151717;
    font-weight: 600;
  }

  .inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
  }

  .input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
  }

  .input:focus {
    outline: none;
  }

  .inputForm:focus-within {
    border: 1.5px solid #ff0000;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }

  .flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }

  .span button {
    font-size: 14px;
    margin-left: 5px;
    color: rgb(201, 19, 19);
    font-weight: 500;
    cursor: pointer;
    border: none;
  }

  .button-submit {
    margin: 20px 0 10px 0;
    background-color:black;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }

  .button-submit:hover {
    background-color:rgb(201, 19, 19);
  }

  

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #999;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
}


input[type="checkbox"]:checked::after {
  content: "✔";
  color:rgb(201, 19, 19);
  font-size: 16px;

   position: absolute;
  top: -2.2px;
  left: 1px; 
}


  

  .p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
  }
  

  

  .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  

  #open-modal{
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(255, 0, 0);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;

  }

  #open-modal:hover {
    background:rgb(255, 0, 0);
    box-shadow: 0 0 30px 5px rgb(255, 0, 0);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  #open-modal:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }

  #open-modal::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }

  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }

    50% {
      opacity: 1;
    }

    to {
      opacity: 0;
      left: 100%;
    }
  }

  #open-modal:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }







  #open-modal1{
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(255, 0, 0);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;

  }

  #open-modal1:hover {
    background:rgb(255, 0, 0);
    box-shadow: 0 0 30px 5px rgb(255, 0, 0);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  #open-modal1:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }

  #open-modal1::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }

  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }

    50% {
      opacity: 1;
    }

    to {
      opacity: 0;
      left: 100%;
    }
  }

  #open-modal1:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }


  #open-modal3{
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(255, 0, 0);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: black;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;

  }

  #open-modal3:hover {
    background:rgb(255, 0, 0);
    box-shadow: 0 0 30px 5px rgb(255, 0, 0);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  #open-modal3:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }

  #open-modal3::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }

  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }

    50% {
      opacity: 1;
    }

    to {
      opacity: 0;
      left: 100%;
    }
  }

  #open-modal3:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }


#open-modal1{
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(255, 0, 0);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;

  }

  #open-modal1:hover {
    background:rgb(255, 0, 0);
    box-shadow: 0 0 30px 5px rgb(255, 0, 0);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  #open-modal1:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }

  #open-modal1::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }

  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }

    50% {
      opacity: 1;
    }

    to {
      opacity: 0;
      left: 100%;
    }
  }

  #open-modal1:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }



  #open-modal4{
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(255, 0, 0);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: black;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;

  }

  #open-modal4:hover {
    background:rgb(255, 0, 0);
    box-shadow: 0 0 30px 5px rgb(255, 0, 0);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  #open-modal4:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }

  #open-modal4::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }

  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }

    50% {
      opacity: 1;
    }

    to {
      opacity: 0;
      left: 100%;
    }
  }

  #open-modal4:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
      


      


.swal2-icon.swal2-success {
  border-color: red !important;
}

.swal2-icon.swal2-success .swal2-success-line-tip,
.swal2-icon.swal2-success .swal2-success-line-long,
.swal2-icon.swal2-success .swal2-success-ring {
  background-color: red !important;
}
























   @media (max-width: 768px) {
    .carousel-overlay h1 {
      font-size: 2rem;
    }

    
  .caro {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top:4.5em;
  }

  .custom-navbar {
    background: black; 
  }

 

  } 
  

@media (max-width: 992px) {
  .nav-item12 {
    margin-left: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .greet-user {
    padding-top: 0.5em;
    font-size: 13px;
  }

  .nav-item1 img {
    width: 40px;
    height: 40px;
  }

  .carousel-overlay h1 {
    font-size: 3rem;
    
  }

  .carousel-overlay p {
    font-size: 2rem;
  }

  .form {
    width: 100%;
    padding: 20px;
  }

  



 .caro,
  #carouselExampleInterval,
  .carousel-inner {
    height: 100vh !important;
  }

  .carousel-overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .carousel-overlay h1 {
    font-size: 2rem;
  }

  .carousel-overlay p {
    font-size: 1rem;
  }



  


}


@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1.5rem;
  }

  .nav-link {
    font-size: 14px;
  }

  .nav-item12 {
    flex-direction: column;
    gap: 0.5em;
    margin-left: 0;
  }

  .carousel-overlay h1 {
    font-size: 2rem;
  }

  .carousel-overlay p {
    font-size: 1.5rem;
    padding: 0 10px;
    
  }
  .form {
    width: 100%;
    padding: 15px;
  }

  .form .button-submit {
    font-size: 14px;
  }

  .inputForm {
    height: 45px;
  }

  .modal-dialog {
    margin: 1rem;
  }
 }


 
@media (min-width: 992px) {
  #objectnav{
    padding-left: 8em;
  }

.navbar{
    height: 4em;
   }


.nav-item1{
   margin-left: 9em;
}


}